#!/usr/bin/env bash
# Used as a default to seed config/.env which
# enables you to use environment variables to configure
# the aspects of your application that vary by
# environment.
#
# Having this file in production is considered a **SECURITY RISK** and also decreases
# the bootstrap performance of your application.
#
# To use this file, first copy it into `config/.env`. Also ensure the related
# code block for loading this file is uncommented in `config/bootstrap.php`
#
# In development .env files are parsed by PHP
# and set into the environment. This provides a simpler
# development workflow over standard environment variables.

# Application configuration
export APP_NAME="WillowCMS"
export DEBUG="true"
export APP_ENCODING="UTF-8"
export APP_DEFAULT_LOCALE="en_GB"
#export APP_DEFAULT_TIMEZONE="UTC"
export APP_DEFAULT_TIMEZONE="Europe/London"
export SECURITY_SALT="8831764ad771299067333a9779c3a9818d0309dbbd797fdcdf175366486ed397"

# Database configuration
export DB_HOST="mysql"
export DB_USERNAME="cms_user"
export DB_PASSWORD="password"
export DB_DATABASE="cms"
export DB_PORT="3306"
export DATABASE_URL="mysql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}/${DB_DATABASE}?encoding=utf8mb4&timezone=UTC&cacheMetadata=true&quoteIdentifiers=false&persistent=false"

# Test database configuration
export TEST_DB_HOST="mysql"
export TEST_DB_USERNAME="cms_user_test"
export TEST_DB_PASSWORD="password"
export TEST_DB_DATABASE="cms_test"
export TEST_DB_PORT="3306"
export DATABASE_TEST_URL="mysql://${TEST_DB_USERNAME}:${TEST_DB_PASSWORD}@${TEST_DB_HOST}/${TEST_DB_DATABASE}?encoding=utf8mb4&timezone=UTC&cacheMetadata=true&quoteIdentifiers=false&persistent=false"

# Email configuration
export EMAIL_HOST="mailhog"
export EMAIL_PORT="1025"
export EMAIL_TIMEOUT="30"
export EMAIL_USERNAME=""
export EMAIL_PASSWORD=""
export EMAIL_REPLY="hello@willowcms.app"
export EMAIL_NOREPLY="noreply@willowcms.app"
export EMAIL_TRANSPORT_DEFAULT_URL="smtp://${EMAIL_HOST}:${EMAIL_PORT}"

# Redis configuration
export REDIS_HOST="redis"
export REDIS_PORT="6379"
export REDIS_USERNAME="root"
export REDIS_PASSWORD="password"
export REDIS_DATABASE="0"
export REDIS_URL="redis://${REDIS_USERNAME}:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}"
export REDIS_TEST_URL="${REDIS_URL}"

# Cache configuration
export CACHE_DURATION="+2 minutes"

# Front end site cache configuration, either Redis or File
export ARTICLES_CACHE_ENGINE="File"
export ARTICLES_INDEX_CACHE_ENGINE="File"

# Queue configuration
export QUEUE_DEFAULT_URL="${REDIS_URL}"
export QUEUE_TEST_URL="${REDIS_TEST_URL}"

# Experimental Tests
export EXPERIMENTAL_TESTS="Off"

# Uncomment these to define logging configuration via environment variables.
#export LOG_DEBUG_URL="file:///path/to/logs/?levels[]=notice&levels[]=info&levels[]=debug&file=debug"
#export LOG_ERROR_URL="file:///path/to/logs/?levels[]=warning&levels[]=error&levels[]=critical&levels[]=alert&levels[]=emergency&file=error"

